@font-face {
  font-family: "AmazonEmber";
  src: url("../fonts/amazonember_rg-webfont.woff2") format("woff2"),
    url("../fonts/amazonember_rg-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("../fonts/amazonember_lt-webfont.woff2") format("woff2"),
    url("../fonts/amazonember_lt-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("../fonts/AmazonEmberMd.woff2") format("woff2"),
    url("../fonts/AmazonEmberMd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("../fonts/amazonember-webfont.woff2") format("woff2"),
    url("../fonts/amazonember-webfont.woff") format("woff");
  font-weight: bold;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "AmazonEmber" !important;
}

#root > div {
  height: 100%;
}

.MuiToolbar-root {
  background-color: #171e2d;
  color: white;
}

.MuiTableCell-head {
  background-color: #3f51b5 !important;
  color: white !important;
  font-weight: 400 !important;
  z-index: 13 !important;
}

.MuiTableCell-root {
  font-family: AmazonEmber !important;
  font-weight: 400;
}

.MuiTableCell-body {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.MuiTablePagination-caption {
  font-family: AmazonEmber !important;
  font-weight: 200 !important;
}

.rec.rec-arrow:hover {
  background-color: #3f51b5 !important;
}

.rec.rec-dot_active {
  box-shadow: 0 0 1px 3px #3f51b5;
  background-color: #3f51b5;
}
